
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-box {
        position: relative;
        width: 400px;
        height: 550px;
        border: 2px solid rgba(255,255,2550.5);
        border-radius: 20px;
        background filter: blur(50px,);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<div class="form-box">
    <h2>Forgot Password</h2>
    <div class="input-box">
        <i class='bx bxs-envelope'></i>
        @Html.TextBox("Email", null, new { @placeholder = "Email" })
    </div>
    <div class="button">
        <input type="submit" class="btn" value="Send OTP" onclick="SendOTP()">
    </div>
    <div class="input-box">
        <i class='bx bxs-envelope'></i>
        @Html.TextBox("OTP", null, new { @placeholder = "OTP" })
    </div>
    <div class="button">
        <input type="submit" class="btn" value="Validate OTP" onclick="ValiateOTP()">
    </div>
    <div class="passwordFields">
        <div class="input-box">
            <i class='bx bxs-envelope'></i>
            @Html.TextBox("Password", null, new { @placeholder = "Password" })
        </div>

        <div class="input-box">
            <i class='bx bxs-envelope'></i>
            @Html.TextBox("ConfirmPassword", null, new { @placeholder = "Confirm Password" })
        </div>

        <div class="button">
            <input type="submit" class="btn" value="Change Password" onclick="ChangePassword()">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#passwordFields").hide();
    });

    function SendOTP() {
        if ($("#Email").val() == undefined || $("#Email").val() == '') {
            toastr.error("Please enter email");
            return;
        }

        var objLogin = new Object();
        objLogin.Email = $("#Email").val();
        var data = JSON.stringify({ objLogin: objLogin });
        $.ajax({
            url: "/Login/SendOTP",
            type: "POST",
            data: data,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.IsValid) {
                    toastr.success(result.ResultMessage);
                }
                else {

                    toastr.error(result.ResultMessage)
                }
            },
            error: function (errormessage) {
                toastr.error("Error");
            }
        });
    }

    function ValiateOTP() {
        if ($("#OTP").val() == undefined || $("#Email").val() == '') {
            toastr.error("Please enter OTP");
            return;
        }

        var objOTP = new Object();
        objOTP.OTP = $("#OTP").val();
        objOTP.Email = $("#Email").val();
        var data = JSON.stringify({ objOTP: objOTP });
        $.ajax({
            url: "/Login/ValidateOTP",
            type: "POST",
            data: data,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.IsValid) {
                    $("#passwordFields").show();
                    toastr.success(result.ResultMessage)
                }
                else {
                    $("#passwordFields").hide();
                    toastr.error(result.ResultMessage)
                }
            },
            error: function (errormessage) {
                toastr.error("Error");
            }
        });
    }

    function ChangePassword() {
        if ($("#Password").val() == undefined || $("#Password").val() == '') {
            toastr.error("Please enter Password");
            return;
        }

        if ($("#ConfirmPassword").val() == undefined || $("#ConfirmPassword").val() == '') {
            toastr.error("Please enter Confirm Password");
            return;
        }
        if ($("#Password").val() != $("#ConfirmPassword").val()) {
            toastr.error("Password and Confirm Password not same, Please enter correct values.");
            return;
        }

        var objChangePassword = new Object();
        objChangePassword.Email = $("#Email").val();
        objChangePassword.Password = $("#Password").val();
        var data = JSON.stringify({ objChangePassword: objChangePassword });
        $.ajax({
            url: "/Login/ChangePassword",
            type: "POST",
            data: data,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.IsValid) {
                    toastr.success(result.ResultMessage);
                    setTimeout(
                        window.location.href = result.redirectToUrl
                        , 15000);
                }
                else {
                    toastr.error(result.ResultMessage)
                }
            },
            error: function (errormessage) {
                toastr.error("Error");
            }
        });
    }

</script>
