USE [master]
GO
/****** Object:  Database [Project_Library]    Script Date: 20-08-2023 10:27:59 ******/
CREATE DATABASE [Project_Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project_Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project_Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_Library]
GO
/****** Object:  Table [dbo].[tbl_CategoryMaster]    Script Date: 20-08-2023 10:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CategoryMaster](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CollegeMaster]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CollegeMaster](
	[CollegeID] [int] IDENTITY(1,1) NOT NULL,
	[CollegeName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CollegeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Comments]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CommentHeader] [varchar](255) NULL,
	[CommentDescription] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FilesDetails]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FilesDetails](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[SynopsisID] [int] NULL,
	[FileName] [varchar](255) NULL,
	[FilePath] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OTP]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OTP](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OTP] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Registration]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Registration](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SynopsisDetails]    Script Date: 20-08-2023 10:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SynopsisDetails](
	[SynopsisID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CategoryID] [int] NULL,
	[CollegeID] [int] NULL,
	[SynopsisHeader] [varchar](255) NULL,
	[SynopsisDescription] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[SynopsisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Registration] ([UserID])
GO
ALTER TABLE [dbo].[tbl_FilesDetails]  WITH CHECK ADD FOREIGN KEY([SynopsisID])
REFERENCES [dbo].[tbl_SynopsisDetails] ([SynopsisID])
GO
ALTER TABLE [dbo].[tbl_OTP]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Registration] ([UserID])
GO
ALTER TABLE [dbo].[tbl_SynopsisDetails]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tbl_CategoryMaster] ([CategoryID])
GO
ALTER TABLE [dbo].[tbl_SynopsisDetails]  WITH CHECK ADD FOREIGN KEY([CollegeID])
REFERENCES [dbo].[tbl_CollegeMaster] ([CollegeID])
GO
ALTER TABLE [dbo].[tbl_SynopsisDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Registration] ([UserID])
GO
USE [master]
GO
